<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ittepic.edu.mx.tpdm_kaiba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kaiba"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Principal"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirmacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Partida"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Seleccion"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".Conversacion"></activity>
    </application>

</manifest>
