<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ittepic.edu.mx.tpdm_kaiba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Principal"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirmacion"
            android:screenOrientation="portrait" />
        <activity android:name=".Cola" />
        <activity android:name=".Partida" />
        <activity android:name=".Amigos" />
        <activity android:name=".BuscarAmigo" />
        <activity android:name=".Mensajes" />
        <activity android:name=".Conversacion" />
        <activity android:name=".Puntuaciones"></activity>
    </application>

</manifest>
